
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.font{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}



/* shared styles */
.display{
  display: flex;
}
.dark-2{
  color:#424242;
}
.dark-3{
  color:#727272;
}
.bg-light{
  background-color: rgba(255, 144, 14, 0.1);
}
.btn-org{
  background-color:#FF900E;
  color:white;
  font-weight: 600;
  font-size: 1rem;
  padding:15px 25px;
  border-radius: 5px;
  border:none;
  margin-top: 20px;
}
main{
  max-width: 1200px;
  margin:0 auto;
}
main>section{
  margin-top:90px;
}
.section-title,.sponsor-title{
  font-size: 3rem;
}

/* header styles */
.brand{
  font-weight: 700;
  font-size: 1.5rem;
}

/* navbar styles */
.navbar{
  align-items: center;
  justify-content: space-between;
}
.nav-items{
  list-style: none;
  margin-right: 20px;
}
.nav-links{
  text-decoration: none;
  font-weight: 500;
  
}
.navbar,.banner{
  max-width: 1200px;
  margin:0 auto; /*image placed centrally*/
}
.banner{
  margin-top: 100px;
}


/*banner-style*/
.banner-content{
  max-width: 650px;
  margin:0 auto;
  text-align:center;
  margin-bottom: 40px;
}
.banner-title{
  font-weight:700;
  font-size:3rem;
}
.banner img{
  max-width: 100%;
  margin-bottom: 30px;
}

/*main teams images and features*/
.team-imgs img{
  width: 270px;
  height: 270px;
}
.team-imgs{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap:20px;
}
.teams{
  align-items: center;
 
}
.features{
  margin-left: 100px;
  max-width: 480px;
}

.part-1{
  font-weight:500;
}

#part-3{
   color:#FF900E;
}


/* some facts related styles */
.fact-cards{
  border:1px solid #FF900E;
  height: 210px;
  width: 200px;
  border-radius: 6px;
  text-align: center;
  align-items: center;
  justify-content: center;
  
}
.fact-container{
  display:grid;
  grid-template-columns: repeat(4,1fr);
  justify-content: center;
  gap: 70px;
  margin-left:20px;
}
.fact-number{
  font-size:2em;
  font-weight: 600;
  margin-top:4px;
  margin-bottom: 1px;
}
.fact-name{
  margin-top:3px;
}
#fact-description{
  max-width: 480px;
}





/* sponsor related styles */
.sponsor-info{
  /* display: grid; */
  text-align: center;
  max-width: 50%;
  margin: 50px auto;
}
.sponsor-title{
  margin-bottom: 30px;
}
.sponsor-logo{
  display: grid;
  grid-template-columns: repeat(5,1fr);
}
.sponsor-logo img{
  filter: grayscale(100%);
  /* transition: filter 0.3s ease; */
}
.sponsor-logo img:hover{
  filter:grayscale(0%);
}







/* responsive media */
@media screen and (max-width:576px){
  .navbar,
  .nav-links,
  .teams{
    flex-direction: column;
  }

  .team-imgs,.fact-container,.sponsor-logo{
    grid-template-columns: repeat(1,1fr);
  }
 
  .features{
  margin:0 30px;
  max-width: 100%;
}
.sponsor-logo{
  row-gap: 20px;
}
.sponsor-logo div,
.fact-container .fact-cards{
  margin:0 auto;
}

#fact-description,.fact-title{
  text-align: center;
}
}

/*medium screen*/
@media screen and (min-width:576px) and (max-width:992px){
  .teams{
    flex-direction: column;
  }
  .features,.fact-heading{
  margin:0 40px;
  max-width: 100%;
}
.fact-container{
  grid-template-columns: repeat(2,200px);
}
.sponsor-logo{
  grid-template-columns: repeat(3,1fr);
  row-gap: 30px;
}
.sponsor-logo div{
  display: flex;
  justify-content: center;
}
.sponsor-info{
  /* display: grid; */
  text-align: center;
  max-width: 80%;
  margin: 50px auto;
}
}